<div class="container">
  <h2>Companies</h2>
  <div class="row data-table-header-container">
    <div class="col-xs-2">
      <a class="btn btn-primary" routerLink="/company/details">Add a Company</a>
    </div>
  </div>
  <div class="row">
    <app-data-table [dataTableModel]="dataTableModel"></app-data-table>
  </div>
</div>

<!-- view client popup -->
<app-popup [(display)]="displayCompanyPopup" title="Company Details">
  <div class="company-details-container">
    <div class="row">
      <label class="control-label col-sm-3" for="client">Company Name:</label> {{selectedCompany.companyName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Email:</label> {{selectedCompany.email}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Tel No:</label> {{selectedCompany.telNo}}
    </div>
    <div class="row" *ngIf="selectedCompany.clients && selectedCompany.clients.length > 0">
      <label class="control-label col-sm-3" for="client">Clients:</label>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Bank Name</th>
              <th>Email</th>
              <th>Tel No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of selectedCompany.clients">
              <td>{{client.clientName}}</td>
              <td>{{client.email}}</td>
              <td>{{client.telNo}}</td>
              <td><a class="edit-link" routerLink="/client/details/{{client.id}}">Edit</a></td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <button name="Submit" id="submit" class="btn btn-danger col-sm-2 pull-right" type="submit" (click)="onDeleteCompany(selectedCompany.id)"
        style="margin-right: 4px">Delete</button>
      <button name="Submit" id="submit" class="btn btn-primary col-sm-2 pull-right" type="submit" (click)="onEditClicked(selectedCompany.id)"
        style="margin-right: 4px">Edit</button>
    </div>
  </div>
</app-popup>