<div class="container">
  <h2>Clients</h2>
  <div class="row data-table-header-container">
    <div class="col-xs-2">
      <a class="btn btn-primary" routerLink="/client/details">Add a Client</a>
    </div>
  </div>
  <div class="row">
    <app-data-table [dataTableModel]="dataTableModel"></app-data-table>
  </div>
</div>

<!-- view client popup -->
<app-popup [(display)]="displayClientPopup" title="Client Details">
  <div class="client-details-container">
    <div class="row">
      <label class="control-label col-sm-3" for="client">Client Name:</label> {{selectedClient.clientName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Company Name:</label> {{selectedClient.companyName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Email:</label> {{selectedClient.email}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Tel No:</label> {{selectedClient.telNo}}
    </div>
    <div class="row" *ngIf="selectedClient.banks && selectedClient.banks.length > 0">
      <label class="control-label col-sm-3" for="client">Banks:</label>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Bank Name</th>
              <th>Account No</th>
              <th>Branch Code</th>
              <th>Email</th>
              <th>Tel No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bank of selectedClient.banks">
              <td>{{bank.bankName}}</td>
              <td>{{bank.accountNo}}</td>
              <td>{{bank.branchCode}}</td>
              <td>{{bank.email}}</td>
              <td>{{bank.telNo}}</td>
              <td><a class="edit-link" routerLink="/home/bank-accounts/{{bank.id}}">Edit</a></td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <button name="Submit" id="submit" class="btn btn-danger col-sm-2 pull-right" type="submit" (click)="onDeleteClient(selectedClient.id)"
        style="margin-right: 4px">Delete</button>
      <button name="Submit" id="submit" class="btn btn-primary col-sm-2 pull-right" type="submit" (click)="onEditClicked(selectedClient.id)"
        style="margin-right: 4px">Edit</button>
    </div>
  </div>
</app-popup>