<div class="container">
  <form name="form1" method="post" class="col-md-8 col-md-offset-2 col-xs-12"
  (ngSubmit)="loginUser()" #loginForm="ngForm">
    <h2 class="form-signin-heading">Sign in</h2>
    <div class="form-group">
      <input [(ngModel)]="model.email" name="email" id="email" type="text" class="form-control" placeholder="Email" autofocus>
    </div>
    <div class="form-group">
      <input [(ngModel)]="model.password" name="mypassword" id="mypassword" type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <button name="Submit" id="submit" class="btn btn-lg btn-primary btn-block" type="submit"[disabled]="!loginForm.valid">Sign in</button>
    </div>
    <p class="form-signin-heading">Please register <a  routerLink="/users/register">here</a></p>
    <div id="message"></div>
  </form>
</div>