<div class="container">
  <form name="form1" method="post" class="col-md-8 col-md-offset-2 col-xs-12" 
  (ngSubmit)="registerUser()" #registerForm="ngForm">
    <h2 class="form-signin-heading">Register</h2>
    <div class="form-group">
      <input [(ngModel)]="model.email" name="email" id="email" type="text" class="form-control" placeholder="Email" autofocus required>
    </div>
    <div class="form-group">
      <input [(ngModel)]="model.password" name="mypassword" id="mypassword" type="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input [(ngModel)]="model.confirmPassword" name="confirmpassword" id="confirmpassword" type="password" class="form-control" placeholder="Confirm Password" required>
    </div>
    <div class="form-group">
      <button name="Submit" id="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!registerForm.valid" type="submit">Register</button>
    </div>
    <p class="form-signin-heading">Please login <a routerLink="/users/login">here</a></p>
    <div id="message"></div>
  </form>
</div>