<div class="container">
  <h2>Shipments</h2>
  <div class="row data-table-header-container">
    <div class="col-sm-2">
      <a class="btn btn-primary" routerLink="/shipments/details">Add a Shipment</a>
    </div>
    <div class="col-sm-8">
      <div class="filter-form">
        <div class="col-sm-9 col-sm-offset-2">
          <form class="form-inline" (ngSubmit)="onSearch()" #shipping="ngForm">
            <div class="form-group mx-sm-3">
              <label class="control-label">Filter By</label>
            </div>
            <div class="form-group mx-sm-3">
              <label for="inputPassword2" class="sr-only">Filter By</label>
              <select class="form-control" [(ngModel)]="filterModel.filterBy" name="bankContact" id="bankContact" required>
                    <option value="weekNo">Week No</option>
                  </select>
            </div>
            <div class="form-group mx-sm-3">
              <label for="inputPassword2" class="sr-only">Week No</label>
              <input type="number" [(ngModel)]="filterModel.value" name="filtervalue" class="form-control" placeholder="Week No" required>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!shipping.valid">Filter</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-warning pull-right" (click)="onRefresh()">Refresh</button>
    </div>
  </div>
  <app-data-table [dataTableModel]="dataTableModel"></app-data-table>
</div>

<!-- view shipment popup -->
<app-popup [(display)]="displayShipmentPopup" title="Shipment Details">
  <div class="shipment-details-container">
    <div class="row">
      <label class="control-label col-sm-3" for="client">Exporter:</label> {{selectedShipment.exporter}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Importer:</label> {{selectedShipment.importer}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Client Name:</label> {{selectedShipment.clientName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">No.Of Container:</label> {{selectedShipment.noOfContainer}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Category No:</label> {{selectedShipment.products ? selectedShipment.products.length
      : 0}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Products:</label>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Category</th>
              <th>Description</th>
              <th>Buy Price</th>
              <th>Sell Price</th>
              <th>Profits</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of selectedShipment.products">
              <td>{{product.productName}}</td>
              <td>{{product.description}}</td>
              <td>{{product.buyPrice}}</td>
              <td>{{product.sellPrice}}</td>
              <td>{{product.sellPrice - product.buyPrice}}</td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Company Name:</label> {{selectedShipment.companyName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Bank Contact:</label> {{selectedShipment.bankName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Supplier Date Load:</label> {{selectedShipment.supplierDateLoad}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Boat Date Load:</label> {{selectedShipment.boatDateLoad}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Load Port:</label> {{selectedShipment.loadPort}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Destination Port:</label> {{selectedShipment.destinationPort}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Week No:</label> {{selectedShipment.weekNo}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Note:</label> {{selectedShipment.note}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Cash Option:</label> {{selectedShipment.cashOption}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Currency:</label> {{selectedShipment.currency}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Price Per:</label> {{selectedShipment.pricePer}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Invoice Max Price:</label> {{selectedShipment.invoiceMaxPrice}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Notes:</label> {{selectedShipment.notes}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Insured:</label> {{selectedShipment.insured}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Extra Bruto:</label> {{selectedShipment.extraBruto}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Shipping Cost:</label> {{selectedShipment.shippingCost}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Shipment Agend:</label> {{selectedShipment.shipmentAgend}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Gen Add:</label> {{selectedShipment.genAdd}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Custom Name:</label> {{selectedShipment.customName}}
    </div>
    <div class="row">
        <button name="Submit" id="submit" class="btn btn-danger col-sm-2 pull-right" type="submit" (click)="onDeleteShipment(selectedShipment.id)" style="margin-right: 4px">Delete</button>
        <button name="Submit" id="submit" class="btn btn-primary col-sm-2 pull-right" type="submit" (click)="onEditClicked(selectedShipment.id)" style="margin-right: 4px">Edit</button>
    </div>
  </div>
</app-popup>

<router-outlet></router-outlet>