.shipment-details-container {
    min-width: 608px;
}

.product-details-container {
    border: 1px solid #cccccc;
    padding: 11px 10px;
    margin: 6px 0px;
}

.view-action {
    cursor: pointer;
}

.add-shipment-container {
    padding-top: 9px;
}