<div class="container">
    <div class="alert alert-info" *ngIf="!isCompanyAvailable">
        <strong>Info!</strong> You have to add a company first.
    </div>
    <form name="form1" method="post" class="form-horizontal" (ngSubmit)="saveShippingDetails(shipping)" #shipping="ngForm" *ngIf="isCompanyAvailable">
        <h2 class="form-signin-heading">Add shipment</h2>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Exporter:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.exporter" name="exporter" id="exporter" type="text" class="form-control" placeholder="Exporter"
                autofocus required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Importer:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.importer" name="importer" id="importer" type="text" class="form-control" placeholder="Importer"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="client">Company Name:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.companyId" name="companyId" id="companyId" (change)="onCompanyChanged()">
                    <option *ngFor="let company of companyList" [value]="company.id">{{company.companyName}}</option>
                </select>
            </div>
        </div>
        <div class="alert alert-info" *ngIf="!isClientAvailable">
            <strong>Info!</strong> This company doesn't have any clients. Please add a client to this company in order to
            proceed.
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Client Name:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.clientId" name="clientName" id="clientName" (change)="onClientChanged()"
                    [disabled]="!isClientAvailable">
                  <option *ngFor="let client of clientList" [value]="client.id">{{client.clientName}}</option>
              </select>
            </div>
        </div>
        <div class="alert alert-info" *ngIf="!isBankAvailable">
            <strong>Info!</strong> This client doesn't have any bank accounts. Please add a bank account to this client in
            order to proceed.
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Bank Contact:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.bankId" name="bankContact" id="bankContact" [disabled]="!isBankAvailable"
                    required>
                  <option *ngFor="let bank of selectedClientBankList" [value]="bank.id">{{bank.bankName}}</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="supplierDateLoad">Supplier Date Load:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.supplierDateLoad" name="supplierDateLoad" id="supplierDateLoad" type="date" class="form-control"
                    placeholder="Supplier Date Load" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="boatDateLoad">Boat Date Load:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.boatDateLoad" name="boatDateLoad" id="boatDateLoad" type="date" class="form-control" placeholder="Boat Date Load"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Load Port:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.loadPort" name="loadPort" id="loadPort" type="text" class="form-control" placeholder="Load Port"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Destination Port:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.destinationPort" name="destinationPort" id="destinationPort" type="text" class="form-control" placeholder="Destination Port"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Week No:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.weekNo" name="weekNo" id="weekNo" type="number" class="form-control" placeholder="Week No" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">No.Of Container:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.noOfContainer" name="noOfContainer" id="noOfContainer" type="text" class="form-control" placeholder="No.Of Container"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="containerCategoryNo">Container Category No:</label>
            <label class="control-label col-sm-9" for="containerCategoryNo">{{model.products !== undefined ? model.products.length : 0}}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="containers">Products:</label>
            <div class="col-sm-9">
                <a class="btn btn-primary btn-sm" (click)="showContainerPopup()">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add</a>
            </div>
        </div>
        <table class="table table-bordered" *ngIf="model.products && model.products.length > 0">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Buy Price</th>
                    <th>Sell Price</th>
                    <th>Profits</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of model.products">
                    <td>{{product.productName}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.buyPrice}}</td>
                    <td>{{product.sellPrice}}</td>
                    <td>{{product.sellPrice - product.buyPrice}}</td>
                    <td>
                        <a (click)="removeProduct(product)" class="view-action">Delete</a>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Note:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.note" name="note" id="note" type="text" class="form-control" placeholder="Note" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Cash Option:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.cashOption" name="cashOption" id="cashOption" required>
                  <option value="BankCash">Bank & Cash</option>
                  <option value="CashDHL">Cash & DHL</option>
                  <option value="CADDirect">C.A.D & Direct</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Currency:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.currency" name="currency" id="currency" required>
                    <option value="Dollars">Dollars</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Price Per:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.pricePer" name="pricePer" id="pricePer" required>
                    <option value="Kilo">Kilo</option>
                    <option value="Box">Box</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Invoice Max Price:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.invoiceMaxPrice" name="invoiceMaxPrice" id="invoiceMaxPrice" type="number" class="form-control"
                    placeholder="Invoice Max Price" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Notes:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.notes" name="notes" id="notes" type="text" class="form-control" placeholder="Notes" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Insured:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.insured" name="insured" id="insured" required>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Extra Bruto:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.extraBruto" name="extraBruto" id="extraBruto" type="text" class="form-control" placeholder="Extra Bruto"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Shipping Cost:</label>
            <div class="col-sm-9">
                <input [(ngModel)]="model.shippingCost" name="shippingCost" id="shippingCost" type="number" class="form-control" placeholder="Shipping Cost"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Shipment Agend:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.shipmentAgend" name="shipmentAgend" id="shipmentAgend" required>
                    <option value="TEU">TEU</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Gen Add:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.genAdd" name="genAdd" id="genAdd" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Custom Name:</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="model.customName" name="customName" id="customName" required>
                    <option value="FAUD">FAUD</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button name="Submit" id="submit" class="btn btn-primary" type="submit" [disabled]="!shipping.valid">Save</button>
            </div>
        </div>
    </form>
</div>

<!-- add container popup -->
<app-popup [(display)]="displayProductPopup" title="Product">
    <div class="product-form-container">
        <form name="form1" method="post" class="form-horizontal" (ngSubmit)="addProduct()" #shipping="ngForm" *ngIf="isClientAvailable">
            <div class="form-group">
                <label class="control-label col-sm-3" for="productName">Category:</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="popupProductModel.productName" name="productName" id="productName" type="text" class="form-control" placeholder="Category"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="description">Description:</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="popupProductModel.description" name="description" id="description" type="text" class="form-control" placeholder="Description"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="buyPrice">Buy Price:</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="popupProductModel.buyPrice" name="buyPrice" id="buyPrice" type="text" class="form-control" placeholder="Buy Price"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="sellPrice">Sell Price:</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="popupProductModel.sellPrice" name="sellPrice" id="sellPrice" type="text" class="form-control" placeholder="Sell Price"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="email">Profit:</label>
                <label class="control-label col-sm-3" for="email">{{popupProductModel.sellPrice - popupProductModel.buyPrice}}</label>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button name="Submit" id="submit" class="btn btn-primary" type="submit" [disabled]="!shipping.valid">Add</button>
                </div>
            </div>
        </form>
    </div>
</app-popup>