<p-dataTable [value]="dataTableModel.dataList" (onSort)="changeSort($event)" [paginator]="true" [totalRecords]="dataTableModel.totalRecords"
  [rows]="10" [rowsPerPageOptions]="[10,20,30,50]" #dt>
  <p-header>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left">Export Data</button>
    </div>
  </p-header>
  <p-column *ngFor="let col of dataTableModel.columns" [field]="col.field" [header]="col.header" [sortable]="col.isSortable">
    <template let-col let-data="rowData" pTemplate type="body" *ngIf="col.colType === 1">
      <span class="col-string">{{ data[col.field] }}</span>
    </template>
    <template let-col let-data="rowData" pTemplate type="body" *ngIf="col.colType === 2">
      <a class="data-table-action" *ngFor="let action of dataTableModel.commonActions" (click)="action.onClick(data)">{{action.name}}</a>
    </template>
  </p-column>
</p-dataTable>