<div class="container">
    <form name="form1" method="post" class="form-horizontal" 
    (ngSubmit)="saveBankAccount(companyForm)" #companyForm="ngForm">
      <h2 class="form-signin-heading">Add a company</h2>
      <div class="form-group">
        <label class="control-label col-sm-3" for="client">Company Name:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="model.companyName" name="client" id="client" type="text" class="form-control" placeholder="Company Name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="email">Email:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="model.email" name="email" id="email" type="text" class="form-control" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="telNo">Tel No:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="model.telNo" name="telNo" id="telNo" type="text" class="form-control" placeholder="Tel No" required>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-3 col-sm-9">
          <button name="Submit" id="submit" class="btn btn-primary" type="submit" [disabled]="!companyForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>