<div class="container">
  <h2>Bank accounts</h2>
  <div class="row data-table-header-container">
    <div class="col-sm-2">
      <a class="btn btn-primary" routerLink="/home/bank-accounts">Add a Bank</a>
    </div>
    <div class="col-sm-8">
      <div class="filter-form">
        <div class="col-sm-9 col-sm-offset-2">
          <form class="form-inline" (ngSubmit)="onFilter()" #bankFilterForm="ngForm">
            <div class="form-group mx-sm-3">
              <label class="control-label">Filter By</label>
            </div>
            <div class="form-group mx-sm-3">
              <label for="inputPassword2" class="sr-only">Filter By</label>
              <select class="form-control" [(ngModel)]="filterCompanyId" (change)="onCompanyChanged()" name="bankContact" id="bankContact" required>
                  <option value="0">All Companies</option>
                  <option *ngFor="let company of companyList" [value]="company.id">{{company.companyName}}</option>
              </select>
            </div>
            <div class="form-group mx-sm-3">
              <label for="inputPassword2" class="sr-only">Clients</label>
              <select class="form-control" [(ngModel)]="filterModel.filterBy" name="client" id="client" required>
                <option value="0">All Clients</option>
                <option *ngFor="let client of clientList" [value]="client.id">{{client.clientName}}</option>
            </select>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!bankFilterForm.valid">Filter</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-warning pull-right" (click)="onRefresh()">Refresh</button>
    </div>
  </div>
  <app-data-table [dataTableModel]="dataTableModel"></app-data-table>
</div>

<!-- view bank popup -->
<app-popup [(display)]="displayBankPopup" title="Client Details">
  <div class="bank-details-container">
    <div class="row">
      <label class="control-label col-sm-3" for="client">Bank Name:</label> {{selectedBank.bankName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Client Name:</label> {{selectedBank.clientName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Account Name:</label> {{selectedBank.accountName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Email:</label> {{selectedBank.email}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Tel No:</label> {{selectedBank.telNo}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Branch Code:</label> {{selectedBank.branchCode}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Account No:</label> {{selectedBank.accountNumber}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Currency:</label> {{selectedBank.currency}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">City:</label> {{selectedBank.city}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Swift Code:</label> {{selectedBank.swiftCode}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Bank Address:</label> {{selectedBank.bankAddress}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Fax:</label> {{selectedBank.fax}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Website:</label> {{selectedBank.website}}
    </div>
    <div class="row">
      <button name="Submit" id="submit" class="btn btn-danger col-sm-2 pull-right" type="submit" (click)="onDeleteBank(selectedBank.id)"
        style="margin-right: 4px">Delete</button>
      <button name="Submit" id="submit" class="btn btn-primary col-sm-2 pull-right" type="submit" (click)="onEditClicked(selectedBank.id)"
        style="margin-right: 4px">Edit</button>
    </div>
  </div>
</app-popup>