<div class="container">
  <div class="alert alert-info" *ngIf="!isCompanyAvailable">
    <strong>Info!</strong> You have to add a company first.
  </div>
  <form name="form1" method="post" class="form-horizontal" (ngSubmit)="saveBankAccount(bankAccount)" #bankAccount="ngForm"
    *ngIf="isCompanyAvailable">
    <h2 class="form-signin-heading">Add a bank account</h2>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Company Name:</label>
      <div class="col-sm-9">
        <select class="form-control" [(ngModel)]="model.companyId" name="companyId" id="companyId" (change)="onCompanyChanged()">
            <option *ngFor="let company of companyList" [value]="company.id">{{company.companyName}}</option>
        </select>
      </div>
    </div>
    <div class="alert alert-info" *ngIf="!isClientAvailable">
        <strong>Info!</strong> This company doesn't have any clients. Please add a client to this company in
        order to proceed.
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Client Name:</label>
      <div class="col-sm-7">
        <select class="form-control" [(ngModel)]="model.clientId" name="clientName" id="clientName" [disabled]="!isClientAvailable">
          <option *ngFor="let client of clientList" [value]="client.id">{{client.clientName}}</option>
        </select>
      </div>
      <div class="col-sm-2" style="padding-top: 7px;">
        <a class="edit-link" (click)="onBankDetailsViewClick()" *ngIf="this.model && this.model.clientId > 0">Client Details</a>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Bank Name:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.bankName" name="bankName" id="bankName" type="text" class="form-control" placeholder="Bank Name"
          required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Account Name:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.accountName" name="accountName" id="accountName" type="text" class="form-control" placeholder="Account Name"
          required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Branch Code:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.branchCode" name="branchCode" id="branchCode" type="text" class="form-control" placeholder="Branch Code"
          required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Account No:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.accountNumber" name="accountNumber" id="accountNumber" type="text" class="form-control" placeholder="Account Number"
          required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Currency:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.currency" name="currency" id="currency" type="text" class="form-control" placeholder="Currency"
          required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">City:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.city" name="city" id="city" type="text" class="form-control" placeholder="City" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Swift Code:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.swiftCode" name="swiftCode" id="swiftCode" type="text" class="form-control" placeholder="Swift Code"
          required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Bank Address:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.bankAddress" name="bankAddress" id="bankAddress" type="text" class="form-control" placeholder="Bank Address"
          required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Tel No:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.telNo" name="telNo" id="telNo" type="text" class="form-control" placeholder="Tel No" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Fax:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.fax" name="fax" id="fax" type="text" class="form-control" placeholder="Fax" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Website:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.website" name="website" id="website" type="text" class="form-control" placeholder="Website" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="client">Email:</label>
      <div class="col-sm-9">
        <input [(ngModel)]="model.email" name="email" id="email" type="text" class="form-control" placeholder="Email" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button name="Submit" id="submit" class="btn btn-primary" type="submit" [disabled]="!bankAccount.valid">Save</button>
      </div>
    </div>
  </form>
</div>

<!-- view client popup -->
<app-popup [(display)]="displayClientPopup" title="Client Details">
  <div class="client-details-container">
    <div class="row">
      <label class="control-label col-sm-3" for="client">Client Name:</label> {{selectedClient.clientName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Company Name:</label> {{selectedClient.companyName}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Email:</label> {{selectedClient.email}}
    </div>
    <div class="row">
      <label class="control-label col-sm-3" for="client">Tel No:</label> {{selectedClient.telNo}}
    </div>
    <div class="row" *ngIf="!selectedClient.banks || selectedClient.banks.length == 0">
      <p class="col-sm-12" for="client">No banks available.</p>
    </div>
    <div class="row" *ngIf="selectedClient.banks && selectedClient.banks.length > 0">
      <label class="control-label col-sm-3" for="client">Banks:</label>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Bank Name</th>
              <th>Account No</th>
              <th>Branch Code</th>
              <th>Email</th>
              <th>Tel No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bank of selectedClient.banks">
              <td>{{bank.bankName}}</td>
              <td>{{bank.accountNo}}</td>
              <td>{{bank.branchCode}}</td>
              <td>{{bank.email}}</td>
              <td>{{bank.telNo}}</td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-popup>