<router-outlet></router-outlet>
<div class="alert alert-danger" *ngIf="errorMessage.length > 0" style="position: fixed;z-index: 1;bottom: 0;">
    <strong>Error!</strong> {{errorMessage}}
</div>
<div class="alert alert-success" *ngIf="successMessage.length > 0" style="position: fixed;z-index: 1;bottom: 0;">
    <strong>Success!</strong> {{successMessage}}
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>