<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
          <a class="navbar-brand" href="#">Shipment Manager</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/company/list">Companies</a></li>
              <li routerLinkActive="active"><a routerLink="/client/list">Clients</a></li>
              <li routerLinkActive="active"><a routerLink="/home/bank-accounts-list">Bank Accounts</a></li>
              <li routerLinkActive="active"><a routerLink="/shipments/list">Shipments</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
      </div>
  </div>
</nav>