<table class="table table-bordered">
  <thead>
    <tr>
      <th *ngFor="let header of dataTable.headers">{{header.name}}</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let shipment of shipments">
      <td>{{shipment.client}}</td>
      <td>{{shipment.loadPort}}</td>
      <td>{{shipment.destinationPort}}</td>
      <td>{{shipment.supplierDateLoad}}</td>
      <td>{{shipment.boatDateLoad}}</td>
      <td>{{shipment.weekNo}}</td>
      <td>
        <a (click)="onViewDetailsClicked(shipment.id)" class="view-action">View</a>
        <a (click)="onEditClicked(shipment.id)" class="view-action">Edit</a>
        <a (click)="onDeleteShipment(shipment.id)" class="view-action">Delete</a>
      </td>
    </tr> -->
    <tr>
  </tbody>
</table>