/* You can add global styles to this file, and also import other style files */
.data-table-header-container {
    margin-bottom: 12px;
}

.edit-link {
    color: #397ab7 !important;
    cursor: pointer;
}